*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* utilities  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}


.waves{
    background-image: url(../img/wave.svg);
    height: 50px;
    background-repeat: repeat-x;
    background-size: cover;
}

.second-waves{
background-image: url(../img/waves/waves2_3.svg);
    height: 50px;
    background-repeat: repeat-x;
    background-size: cover;
    background-color:#f6f2f2;
}

/* classi bottoni  */
.btn{
    border-radius: 20px;
    text-decoration: underline;
    text-align: center;
}
.btn-small{
    padding: 9px 11px;
}
.btn-big{
    padding: 10px 25px;
}
.btn-black{
    background-color: #000;
    color:#fff
}
.btn-white{
    background-color: #fff;
}

.btn-blue{
    background-color: #80a0e7;
    color:#fff;
}

.figure{
    width: 590px;
}

.figure img{
    width: 100%;
    height: 388px;
    object-fit: cover;
}

.col-text{  
    width: 560px;  
    padding: 50px 190px 0 100px;    
}

.col-text h1{
    font-size: 32px;
}

.col-text p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 25px;
}

.bg-lightgrey{
    background-color: #f6f2f2;
}

.bg-darkgrey{
    background-color: #272727;
}
 /* titoletti footer  */
h6{
    color:cornflowerblue;
    font-size: 15px;
    margin-bottom: 5px;
}


/* header  */

/* nav bar  */
header .container{
    color:white;
}

.top-bar{
    height: 80px;
    background-color: #5858e2;
    line-height: 80px;
    
}
.col{
    float:left;
}
.col img{
    vertical-align: middle;    
}

.top-bar .main-menu li{
    display: inline-block;
}

.top-bar .main-menu li a{
    text-decoration: none;
    color:white;
    margin: 0 20px;

}
.top-bar .main-menu li a:hover{
    text-decoration: underline;
}

.top-bar .col a{
    text-decoration:none;
}    
/* jumbo  */

.jumbotron{
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.jumbotron .content{
    width: 550px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron .content h1{
    font-size: 35px;
}

.jumbotron .content p{
    padding-top: 25px;
    font-size: 15px;
    line-height: 25px;
}

.jumbotron .jumbo-buttons{
    margin-top: 40px;
}

.jumbotron .jumbo-buttons a{
    text-decoration:none;
    margin: 0 9px;
    font-size: 15px;
}

.jumbotron .jumbo-buttons span{
    padding: 0 5px;
    color: black;
}

/* Section One */

.container .first-section{
    width: 100%;    
    padding-top:65px;
    padding-left: 35px;
    padding-bottom: 40px;
}

/* Section Two */

.container .second-section{
    width: 100%;     
}

.container .second-section .col-text{
    padding: 105px 120px 100px 200px;
}

.second-section .figure{
    padding: 60px 50px 45px 0;
}

.second-section .figure img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* section three  */

.container .third-section{
    width: 100%; 
    padding-top: 50px;
    padding-bottom: 80px;
}

.third-section .figure{
    padding-left: 50px;
}

.third-section .figure img{
    width: 100%;
    height: 300px;
    object-fit: contain;    
}


/* section four  */

.container .fourth-section{
    width: 100%; 
    height: 800px;
    padding-top: 50px;
    position: relative;
}

.fourth-section .last-content{
    position: absolute;
    top: 110px;
    left: 35px;
    
}

.fourth-section .last-content h1{
    font-size: 32px;
    text-align: center;
    padding: 0 50px;
}

.fourth-section .last-content p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 25px;
    text-align: center;
    padding: 0 90px;
}

.fourth-section .last-content figure{
    padding-left: 280px;
    padding-top: 5px;

}

#tablet{
    width: 600px;
    height: 380px;
}

.downloadformac{
    position: absolute;
    top: 584px;
    left: 466px;
}

.start-adventure{    
    width: 350px;
    height: 35px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}

.downloadformac h3{
    text-align: center;
    font-size: 18px;
}

.downloadformac .last-button{
    position: relative;
    top: 38px;
    left:95px;
}
.downloadformac .last-button a{
    text-decoration: none;
}

.downloadformac .last-button a span{
    padding-right: 8px;
}

/* footer  */

.foot{
    width: 100%;
    height: 620px;
}

.foot .details{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border-bottom: 1px solid #5858e2;
}
 .container .foot .footer-col-main{
    float: left;
    padding-top: 50px;
    width: 340px;    
}

.container .foot .footer-col-main h3{
    color:cornflowerblue;
    font-size: 25px;
    margin-bottom: 20px;
}
.container .foot .footer-col-main img{
    
    width: 20px;
    height: 12px;
}

.container .foot .footer-col-main p{
    display: inline-block;
    color: white;
    line-height: 17px;
}

.container .foot .footer-col-main p span{
    font-size: 20px;
    vertical-align: middle;

}   
.container .foot .footer-col-main .icons{
    padding-top: 12px;
}
.container .foot .footer-col-main .icons li{
    display: inline;    
}

.container .foot .footer-col-main .icons a{
    color:white;
    margin: 0 8px;
    text-decoration: none;
}

/* prodotto */
.container .foot .footer-col{
    float: left;
    padding: 50px 5px 0 5px;
    width: 155px;
}

.container .foot .footer-col li{
    list-style-type: none;  
    margin-top: 9px; 

}

.container .foot .footer-col a{
    color:white;
    text-decoration: none;
}

/* credits */

footer .credits .logo{
    float: left;
    width: 600px;
    height: 90px;
    line-height: 90px;
    padding-left: 121px;
}

footer .credits .logo img{  
    vertical-align: middle;
}

footer .credits .register{
    float: left;
    width: 600px;
    padding: 35px 121px 0 0;
}   

footer .credits .register a{
    text-decoration: none;
}